body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background: linear-gradient(to left,black,#009b90,black);
    color: black;
    overflow-x: hidden; 
}
#preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    overflow: hidden;
}

#preloader img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
#luffy {
    background: black;
    position: fixed;
    color: #90A0D9;
    top: 0;
    width: 100%;
    z-index: 1000;
    padding: 10px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
}

#makima {
    display: flex;
    align-items: center;
    margin-left: 20px;
}

#makima a {
    color: white;
    text-decoration: underline overline;
    font-weight: bold;
}

#makima a:hover {
    color: #009b90;
}

#fubuki {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

#fubuki li {
    margin: 0 20px;
}

#fubuki li a {
     color:white;
    text-decoration: none;
    font-weight: bold;
}

#fubuki li a:hover {
    color: #009b90;
}

.yuta{
    display: flex;
    align-items: center;
    padding: 100px 20px;
    text-align: left;
}

#zoro {
    border-radius: 50%;
    z-index: 1;
    height: 300px;
    width: 280px;
    padding-left: 0%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;

}

#zoro:hover {
    opacity: 0.8;
    transform: scale(1.05);
    box-shadow: 0 20px 20px seashell;
}

#shiina {
    z-index: 1;
    max-width: 600px;
    padding-left: 0% ;
    margin-left: 50px;
    margin-right: 300px;
    color: black;
    text-shadow: 0 0 0 black;
    text-align: start;
    animation: fadeInSlide 1s ease-in-out;
}
@keyframes fadeInSlide {
    0% {
        opacity: 0;
        transform: translateX(20px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}
#shiina:hover{
    text-shadow: 8px 8px 8px whitesmoke;
}
section {
    padding: 30px 20px;
    text-align: center;
}

h2 {
    font-size: 2em;
    margin-bottom: 20px;
    color: #009b90;
    text-shadow: 0 0 0 black;
}
h2:hover{
    text-shadow: 8px 8px 8px whitesmoke;
}

#about {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    font-family: Arial, sans-serif;
}

#about h2 {
    font-size: 28px;
    color: black;
    margin-bottom: 20px;
    text-align: center;
}
#bchan {
    font-size: 16px;
    font-style: italic;
    font-size: large;
    color: black;
    line-height: 1.5;
    margin-bottom: 30px;
    text-align: center;
}
.education-card {
    background:black;
    color: #009b90;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 20px 0;
    font-family: Arial, sans-serif;
}

.education-card h3 {
    color: #009b90;
    font-size: 30px;
    margin-top: 0;
    margin-bottom: 25px;
    text-align: center;
}
.degree{
    color: #009b90;
}
.degree h4 {
    font-size: 24px;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 0;
    line-height: 1.5;
    color: #009b90;
}

.degree p {
    margin: 5px 0;
    color: #009b90;
}

.year, .honors {
    font-style: italic;
    color: #009b90;
}

.honors {
    color: #009b90;
    font-weight: bold;
}
.education-card:hover {
    opacity: 0.8;
    transform: scale(1.05);
    box-shadow: 2px 2px 5px 2px gainsboro;
}
.cv-button {
    display: inline-block;
    padding: 10px 20px;
    margin-top: 20px;
    background-color:transparent;
    color:black;
    text-decoration: none;
    text-align: center;
    font-weight: bold;
    transition: background-color 0.3s ease;
    margin-left: 20%;
    transform: translateX(-50%);
    background-color: transparent;
    border: 2px solid black;
    border-radius: 50px;
    cursor: pointer;
}

.cv-button:hover {
    background-color: silver;
    color: black;
}
#miya {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    justify-content: center;
}
#pjc{
    color: black;
}
.project {
    background: black;
    color: #009b90;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    padding: 20px;
    border-color: #90A0D9;
}

.project-image {
    max-width: 100%;
    width: fit-content;
    height: 200px;
    border-radius: 10px;
    transition: box-shadow 0.3s ease;
}

.project:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px silver;
}

.project-image:hover {
    box-shadow: 0 4px 8px #90A0D9;
}

.project-text {
    padding: 10px 0;
}
#oz{
    color: black;
}
.skills-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
}

.skill-button {
    padding: 10px 20px;
    border: none;
    color:silver;
    background-color:black;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s ease;
}

.skill-button:hover {
    background-color: white;
    color: #009b90;
}
#mo{
    color: black;
    transition: text-shadow 0.3s ease;
}
#mo:hover{
    opacity: 1;
    text-shadow: 0 2px 8px white;
}
#ok{
    color: black;
    font-size: larger;
    font-weight: bold;
    transition: text-shadow 0.3s ease;
}
#ok:hover{
    opacity: 1;
    text-shadow: 0 0 8px whitesmoke;
}
.contact-button {
    display: inline-block;
    margin-top: 5px;
    padding: 10px 20px;
    background-color:black;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background 0.3s ease;
}

.contact-button:hover {
    background-color: aliceblue;
    color:#009b90;
}

footer {
    background:black;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}

.social-icons {
    margin: 10px 0;
}

.social-icons a {
    color: #fff;
    margin: 0 10px;
    font-size: 24px;
    transition: color 0.3s ease;
}

.social-icons a:hover {
    color:#009b90;
}
@media (min-width: 481px) and (max-width: 768px) {
    #luffy ul {
        flex-direction: row;
        justify-content: space-around;
    }

    #luffy ul li {
        margin: 10px;
    }

    .header-content {
        flex-direction: row;
        text-align: left;
        padding: 20px;
        margin-top: 30px;
    }

    #zoro {
        margin: 0 auto 30px;
    }

    section {
        padding: 20px;
    }

    .project {
        flex: 1 1 45%;
    }
}
@media (min-width: 769px) and (max-width: 1024px) {
    #luffy ul {
        flex-direction: row;
        justify-content: space-between;
    }

    #luffy ul li {
        margin: 15px;
    }

    .header-content {
        flex-direction: row;
        text-align: left;
        padding: 25px;
        margin-top: 40px;
    }

    #zoro {
        margin: 0 auto 40px;
    }

    section {
        padding: 25px;
    }

    .project {
        flex: 1 1 30%;
    }
}
@media (min-width: 1025px) {
    #luffy ul {
        flex-direction: row;
        justify-content: space-between;
    }

    #luffy ul li {
        margin: 20px;
    }

    .header-content {
        flex-direction: row;
        text-align: left;
        padding: 30px;
        margin-top: 50px;
    }

    #zoro {
        margin: 0 auto 50px;
    }

    section {
        padding: 30px;
    }

    .project {
        flex: 1 1 25%;
    }
}